h2, p, button {
    font-family: "SamsungOne",arial;
}

h1 {
    color: #162d9a;
    font-family: "SamsungOne",arial;
    margin-bottom: 0px;
}
/* 
span {
    color: gray;
} */

button {
    background-color: #162d9a;
    color: white;
    font-family: "SamsungOne",arial;
}

.form-field {
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
    font-family: "SamsungOne",arial;
}

label {
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "SamsungOne",arial;
}

h4, p, h2, li {
    font-family: "SamsungOne",arial;
}

span, li {
    color: grey
}
