.navbar-toggle {
    border: none;
    background: transparent !important;
    z-index:3;
  }
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    
}


::ng-deep .mat-card {
  padding: 0px !important;
}
.navbar {
  position: relative;
}
.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -75px !important;  
  display: block;
}

.home-icon {
  font-size: 27px; color: black;
}

.text-font {
  font-size: 14px;
  font-family: "SamsungOne",arial;
  font-weight: bold;
  color: #000 !important;
}

.user-text {
  margin-top: 5px;
  padding-left: 0px;
}


@media only screen and (max-width: 600px) {
  .user-text {
    padding-left: 10px;
  }
}

.dropdown-toggle:hover {
  background-color: #fff;
  color: #162d9a !important;
  border-bottom: #162d9a 3px solid;
}

.navbar-default .navbar-nav>.open>a {
  background-color: #fff;
}

