<p>
  campaign-dialog-pn works!
</p>
<h1 mat-dialog-title>Campaign Attributes:</h1>
<div mat-dialog-content>
  <div class="row" style="background-color: #F8F8F8">
    <div class="col-sm-12"><p><span> Campaign name: </span>{{data.name}}</p></div>
  </div>
  <div class="row" style="background-color: #F8F8F8">
    <div class="col-sm-12"><p><span> Campaign description: </span>{{data.description}}</p></div>
  </div>
  <div class="row" style="background-color: #F8F8F8">
    <div class="col-sm-4"><p><span>Product
          Category :
        </span>{{data.productCategory}} </p></div>
    <div class="col-sm-4"><p><span>Deployment
          Date :
        </span>{{data.deploymentDate | date}} </p></div>
    <div class="col-sm-4"><p><span>Phase :
        </span>{{data.phase}} </p></div>
  </div>
  <div class="row" style="background-color: #F8F8F8">
    <div class="col-sm-4"><p><span>Message
          Type:
        </span>{{data.messageType}} </p></div>
    <div class="col-sm-4"><p><span>Touch :
        </span>{{data.touch}} </p></div>
    <div class="col-sm-4"><p><span>Number of
          Creatives:
        </span>{{data.noOfCreatives}} </p></div>
  </div>
</div>

<h1 mat-dialog-title>Creative Attributes:</h1>
<div mat-dialog-content>
  <div *ngFor="let attribute of data.creativeAttributes;let i = index;">
    <h4 style="color: #0087e0">Creative {{i+1}}</h4>
    <div class="row" style="background-color: #F8F8F8">
      <div class="col-sm-12"><p><span> Creative description: </span>{{attribute.creativeDescription}}</p></div>
    </div>
    <div class="row" style="background-color: #F8F8F8">
      <div class="col-sm-4"><p><span> Creative
            version: </span>{{attribute.creativeVerison}}</p></div>
      <div class="col-sm-4"><p><span>Key Visual:
          </span>{{attribute.keyVisual}}</p></div>
      <div class="col-sm-4"><p><span>Offer:
          </span>{{attribute.offer}}</p></div>
    </div>
    <div class="row" style="background-color: #F8F8F8">
      <div class="col-sm-12"><p
          style="background-color: #F8F8F8"><span> Audience Segment: </span></p></div>
    </div>
    <div class="row" style="background-color: #F8F8F8">
      <div class="col-sm-12"><ol>
          <li *ngFor="let segment of attribute.audienceSegment">{{segment}}</li>
        </ol></div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</div>