
<app-header></app-header>
<mat-card class="form-card">
  <div class="form-sub-section">
    <mat-card-title class="form-title"
      >Please update the form data :
    </mat-card-title>
    <mat-form-field class="form-field">
      <textarea
        matInput
        type="text"
        [(ngModel)]="formData"
        class="form-control"
        id="formData"
        name="formData"
        rows="35"
        style="background-color: #e0e0e0;"
      ></textarea>
    </mat-form-field>
    <div align="end">
      <button
        mat-raised-button
        style="background-color: #0087e0; color: white"
        (click)="update()"
      >
        Submit
      </button>
    </div>
  </div>
</mat-card>
