.main-card {
    margin-top: 1px;
}

.divider {
    position: relative !important; 
}

.form-field {
    width: 100%;
    }
    
    ::ng-deep .mat-form-field-wrapper{
     padding-bottom: 0;
    }
    
    .form-card {
        margin: 1px 20% 10px 20%;
        padding: 10px;
    }
    
    @media only screen and (max-width: 600px) {
        .form-card {
            margin: 1px 1px 10px 1px;
        }
      }
    
    .next-div {
        display: flex;
        flex: 1;
        justify-content: center;
        margin-top: 10px;
        padding-bottom: 10px;
        font-family: "SamsungOne",arial;
    }
    
    .mat-select {
        border: none;
    }
.form-title {
    color: #162d9a;
    padding-left: 10px;
    padding-right: 10px;
}

::ng-deep .mat-radio-button {
    margin-right: 30px;
}

.padding-cls {
    padding-left: 10px;
    padding-right: 10px;
}

label, input, mat-option, mat-select, textarea, button, mat-checkbox, mat-tree-node, mat-radio-button  {
    font-family: "SamsungOne",arial;
}


::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #162d9a;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #162d9a;
}

label {
    font-size: 16px;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: "#1D88EA"
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #162d9a;
}
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #162d9a;
}
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #162d9a;
}

.target-div {
    color: maroon;
    font-size: 15px;
    padding-left: 10px;
}