h1 {
    color: #f77d0e;
}

span {
    color: gray;
}

button {
    background-color: #0087e0;
    color: white;
}

.form-field {
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
}

label {
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}