<div mat-dialog-content>
  <h1 mat-dialog-title>CAMPAIGN ATTRIBUTES:</h1>
  <div class="row">
    <div class="col-sm-12">
      <p>
        Campaign name: <span>{{ data.name }}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        Campaign ID: <span>{{ data.campaignId }}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        Campaign description: <span>{{ data.description }} </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>
        Creation Date: <span>{{ data.createTimestamp | date }}</span>
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        Campaign Type: <span>{{ data.campaignType }}</span>
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        Campaign Category: <span>{{ data.campaignCategory }}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>
        Phase : <span>{{ data.phase }}</span>
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        Message Type: <span>{{ data.messageType }}</span>
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        Number of Creatives:<span> {{ data.numOfCreatives }}</span>
      </p>
    </div>
  </div>
  <div class="row" *ngIf="data.deploymentDate">
    <div class="col-sm-4">
      <p>Always On: <span>No</span></p>
    </div>
    <div class="col-sm-4">
      <p>
        Deployment Date: <span>{{ data.deploymentDate | date }}</span>
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        Touch: <span>{{ data.touch }}</span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>Products Promoted:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ol>
        <li *ngFor="let element of data.product">
          {{ element }}
        </li>
      </ol>
    </div>
  </div>
  <h1 mat-dialog-title>CREATIVE ATTRIBUTES:</h1>
  <div *ngFor="let attribute of data.creativeAttributes; let i = index">
    <h4>Creative {{ i + 1 }}</h4>
    <div class="row">
      <div class="col-sm-12">
        <p>
          Creative description:
          <span>{{ attribute.creativeDescription }}</span>
        </p>
      </div>
    </div>
    <div class="row" *ngIf="data.channel === 'Push Notification'">
      <div class="col-sm-12">
        <p>
          Marketing ID: <span>{{ attribute.marketingId }}</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p>
          Creative version: <span>{{ attribute.creativeVerison }}</span>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          Key Visual: <span>{{ attribute.keyVisual }}</span>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          Offer: <span>{{ attribute.offer }}</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p>
          Audience Segment:
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          Audience Subsegment:
        </p>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <ol>
          <li *ngFor="let segment of attribute.audienceSubsegment">
            {{ segment }}
          </li>
        </ol>
      </div>
      <div class="col-sm-4">
        <ol>
          <li *ngFor="let segment of attribute.audienceSubsegment">
            {{ segment }}
          </li>
        </ol>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
  </div>
</div>
