<mat-card class="form-card">
  <div class="form-sub-section">
    <mat-card-title class="form-title"
      >Please select a campaign channel</mat-card-title
    >
    <mat-form-field class="form-field">
      <mat-select
        class="form-control"
        required
        [(ngModel)]="channel"
        name="channel"
      >
        <mat-option
          *ngFor="let channel of campaignChannels"
          [value]="channel"
          >{{ channel }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <div align="end">
      <button
        mat-raised-button
        style="background-color: #0087e0; color: white"
        *ngIf="channel !== ''"
        (click)="navigate()"
      >
        Submit
      </button>
      <button mat-raised-button [disabled]="true" *ngIf="channel === ''">
        Submit
      </button>
    </div>
  </div>
</mat-card>
