
.divider {
    position: relative !important; 
}

.form-field {
    width: 100%;
    }
    
    ::ng-deep .mat-form-field-wrapper{
     padding-bottom: 0;
    }
    
    .form-card {
        /* margin-top: 1px !important;
        padding-top : 10px;
        padding-bottom: 10px; */
        /* height: 100vh; */
    }

    .form-sub-section {
        margin: 1px 20% 10px 20%;
        /* height: 100vh; */
    }
    
    @media only screen and (max-width: 600px) {
        .form-sub-section {
            margin: 10px;
        }
      }
    
    .next-div {
        display: flex;
        flex: 1;
        justify-content: center;
        margin-top: 10px;
    }
    
    .mat-select {
        border: none;
    }
.form-title {
    font-family: "SamsungOne",arial;
    color: #162d9a;
    padding-top : 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

mat-option, button {
    font-family: "SamsungOne",arial; 
}
label, input, mat-option, mat-select, textarea, button, mat-checkbox, mat-tree-node, mat-radio-button  {
    font-family: "SamsungOne",arial;
}